.search-list {
    border-style: solid;
    width: 150px;
    height: 300px;
    padding-left: 5px;
};

.city {
    margin-left: -12.666667%;
}

.dayBox {
    border-style: solid;
    height: 200px;
    width: 150px;
    margin: 10px 10px 10px 10px;
    padding: 8px 10px 10px 18px;
}
.cards {
    display: flex;
}

.favorable {
    background-color: lawngreen;
    width: 50px;
}

.moderate {
    background-color: orange;
    width: 50px;
}

.severe {
    background-color: red;
    width: 50px;
}